# add gitignore files here
# for documentation on gitignore files, see
#   https://git-scm.com/docs/gitignore


# MacOS stuff
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V*
.Trashes
.vscode/

vivado_projects/master_project/master_project.runs/game_dict_rom_synth_1/vivado.pb
vivado_projects/master_project/master_project.runs/synth_1/vivado.pb
